{% extends "partials/base.html" %}
{% block content %}
<h2>Staff Dashboard</h2>
<p>Welcome, {{ user.username }}! You are logged in as <strong>{{ user.get_user_role_display }}</strong>.</p>
<ul>
  <li><a href="{% url 'stock_receipt_create' %}">Receive New Stock</a></li>
  <li><a href="{% url 'sale_transaction_create' %}">Record a Sale</a></li>
  <li><a href="{% url 'product_list' %}">View Products</a></li>
  <li><a href="#">My Sales</a></li>
</ul>
<a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
{% endblock %}
